.info {
    margin-top: 7rem;
    text-align: center;
}

.content {
    line-height: 2.0;
    width: 50%;
    align-self: center;
    text-align: justify;
    margin-bottom: 5em;
}

.info img {
    width: 40%;
    margin: 3rem;
    border-radius: 20px;
}