.content {
    width: 80%;
    padding: 2rem;
    text-align: left;
}

.content h1 {
    font-size: 3rem;
    letter-spacing: .2rem;
}

.content h3 {
    color: #868585;
    font-size: 1rem;
}

.content p {
    font-size: 1rem;
    line-height: 1.6;
}